body {background:#000; }
#loading {
	height: 20px;
	width: 800px;
	border-color: #aaa;
	border: 2px;
	display: inline-block;
	margin: auto;
}
.centro {
	margin-left: auto;
	margin-right: auto;
}
#club {
	border-color: #c4c4c4;
	border: 2px;
	display: inline-block;
	margin-top: 10px;
	height: 600px;  /* altura */
	width: 800px;	/* largura */
}
#fora {
  width: 100%;
  text-align: center;
  border-color: #ddd;
  border: 2px;
  position: fixed;
}
#toggle {
    width: 280px;
    height: 500px;
    background: #733C81;
}
#inner {
  display: inline-block;
}
#chat{
	width:200px;
	height:580px;
	margin-top: 50px;
	border: 1px solid #C0A0DA;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:10px;
	background: rgba(255,255,255,0.6);
	box-shadow: 0px 0px 9px rgb(164, 137, 192);
	overflow: auto;
}
.chatbubbleme {
  width: 95%;
  margin-top:5px;
  padding:5px;
  border: 1px solid #CECECE; 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; 
  border-radius: 8px;  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  float:right;
  text-align:left;
  font-size:16px;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-weight: 300;
}
.clear
{
clear: both;
}
/*  ir acrescentando */
#bubble_chat, .bubble_chat{
	float:left; 
	width:130px;
	text-align:left; 
	color:blue; 
	font-weight:400;
	font-size: 18px;
}

/* div users */
.bubble_users {
  width: 95%;
  margin-top:5px;
  padding:5px;
  border: 1px solid #CECECE; 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; 
  border-radius: 8px;  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  text-align: center;
  font-size:13px;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-weight: 300;
}
.usersbubble{
	float:left; 
	width:130px;
	text-align: center; 
	color: blue; 
	font-weight:400;
	font-size: 18px;
}
/* Label */ 
.bubble_label{
  width: 150px;
  margin-top:50px;
  margin-right: 3px;
  margin-left: 3px;
  padding:5px;
  border: 1px solid #CECECE; 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; 
  border-radius: 8px;  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  text-align: center;
  font-size:13px;
text-shadow: 1px 1px 1px rgb(255, 255, 255);
font-weight: 300;
}
.labelbubble{
	float:left; 
	width:130px;
	text-align: center; 
	color: blue; 
	font-weight:400;
	font-size: 18px;
}

#contentWrap{
	display: block;
}
#chatWrap{
	float: left;
	border: 1px #000 solid;
}
#users {
    float: right;
    width: 145px;
	height:540px;
	margin-top: 5px;
	border: 1px solid #C0A0DA;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:10px;
	background: rgba(255,255,255,0.6);
	box-shadow: 0px 0px 9px rgb(164, 137, 192);
	overflow: auto;
}
#title_users {
	float: right;
	border: 1px #000 solid;
}
#player {
	display: none;
	margin-top: 50px;
/*	height: 600px;  /* altura */
	width: 800px;	/* largura */
	margin: auto;
}
#player_vid {
	margin-top: 50px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 50px;
	border: 5px solid #ddd;
	border-radius:25px;
}
.scrolling {
	/*border: 2px solid #ec00ce;*/
	width: 760px;	/* largura */
	height: 60px;  /* altura */
	/* margin: top right bottom left*/
	margin: 10px auto 10px auto;
}
.marquee {
  width: 700px;
  overflow: hidden;
  margin: 10px auto 10px auto;
  /*border: 1px solid #ccc;
  color: blue;
  /*background: #ccc;*/
  text-align: center; 
  color: #ddd;
  font-weight:600;
  font-size: 20px;
}